body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    text-align: center;
}

.heading {
    background-color: dimgray;
}

.links {
    list-style-type:none;
    line-height: 50px;
}

.image {
    height: auto;
    width: 750px;
}

div .image {
    float: left;
    padding-left: 100px;
}

.steps {
    text-align: center;
    padding-top: 90px;
}


.list-indent {
    list-style-position: inside;
}